* {
    box-sizing: border-box;
}

.container {
    width: 700px;
    height: 700px;
    background-color: blue;
    margin-top: 30px;
}

.row {
    display:flex;
    flex-direction: row;
}
.square {
    background-color: darkgrey;
    border: solid black 1px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}